<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.fujie.modle.Test" alias="test"/>
		<typeAlias type="com.fujie.modle.TypeEntity" alias="type"/>
		<typeAlias type="com.fujie.modle.Paging" alias="rowBounds"/>
	</typeAliases>		

<!-- 
	<typeHandlers>    
	      <typeHandler javaType="String" jdbcType="BLOB" handler=" com.fujie.uitls.MyBlobTypeHandler" /> 
	    </typeHandlers>     
	     <settings>
	        <setting name="cacheEnabled" value="false"/>
	        <setting name="lazyLoadingEnabled" value="false"/>
	        <setting name="aggressiveLazyLoading" value="true"/>
	        <setting name="logImpl" value="LOG4J2"/>
	    </settings>
    -->
</configuration> 